@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

#nav{
    margin-top: -30px;
    display: flex;
    /* background-color: #27483e; */
    width: 100%;
    justify-content: space-between;
}
#options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#name{
    font-size: 30px;
    font-weight: bold;
}

#sde{
    font-size: 25px;
    font-weight: bold;
}
#image{
    width: 300px;
}

button{
    background-color: rgb(172, 163, 228);
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 12px 25px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
}
button :hover{
    color: rgb(0, 0, 0);
    transition: .1s;
}
a{
    text-decoration:none;
    color: white;   
}

hr{
    width: 80%;
    margin: 10px auto;
    height: 2px;
    background: black;
} 

.projects-container{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}