@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: darkslateblue;
}
#name{
    font-size: 30px;
    font-weight: bold;
}
#sde{
    font-size: 25px;
    font-weight: bold;
}
#image{
    width: 300px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}