@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

#nav{
    margin-top: -30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
#options a {
    color: black;
    padding: 5px 10px;
}
#options a :hover{
    background-color: #6672e5;
    padding: 5px 10px;
    transition: .1s;
}

.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#name{
    font-size: 30px;
    font-weight: bold;
}

#sde{
    font-size: 25px;
    font-weight: bold;
}
#image{
    width: 300px;
}

button{
    background-color: #6672e5;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 12px 25px;
    margin-top: 30px;
    border: none;
}
button :hover{
    color: rgb(0, 0, 0);
    transition: .1s;
}
a{
    text-decoration:none;
    color: white;   
}

hr{
    width: 80%;
    margin: 10px auto;
    height: 2px;
    background: black;
} 

.education-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}


.projects-container{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projects-container .card1{
    background-color: #6672e5;
    padding: 20px 40px;
}

.projects-container .card1 button{
    background-color: #ffd356;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 12px 25px;
    margin-top: 30px;
    border: none;
}

.projects-container .card2{
    background-color: #ffd356;
    padding: 20px 40px;
}

.projects-container .card2 button{
    background-color: #6672e5;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 12px 25px;
    margin-top: 30px;
    border: none;
}